html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


body {
 display: grid;
 grid-template-rows: 96px 1fr;
 background-color: rgb(105, 157, 182);
}

.cardsContainer {
	grid-row-start: 2;
}

div.cardHolder > * {
	font-size: 1.2rem;
	border: 3px solid rgb(16, 0, 105);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #d7e7ff;
	width: 400px;
	height: 200px;
	border-radius: 12px;
	gap: 24px;
	padding: 8px;
	text-align: left;
	word-wrap: normal;
	line-height: 32px;
}

.cardHolder{
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	padding: 32px;
	margin: 32px;
	border: 3px solid rgb(16, 0, 105);
	border-radius: 16px;
	min-height: 70vh;
	margin-top: 16px;
	align-content: flex-start;
}

.formPopup {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 3px solid rgb(16, 0, 105);
	border-radius: 16px;
	z-index: 9;
	max-width: 360px;
	height: 420px;
	background-color: rgb(105, 157, 182);
	padding: 10px;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
	z-index: 8; /* make the overlay appear behind the form */
  }

.bookFormList {
	display: flex;
	justify-content: space-around;
}

.headerContainer {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.popupButton {
	background-color: #1160c7;
	color: rgb(16, 0, 105);
	font-size: 1.6rem;
	font-weight: 900;
	padding: 10px 10px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	width: 280px;
	height: 48px;
	text-align: center;
	border-radius: 8px;
  }

  .popupButton:hover {
	background-color: #04AA6D;
  }

  .bookFormList {
	max-width: 300px;
	padding: 10px;
	background-color: white;
  }

  label > input[type=text], label > input[type=number] {
	width: 90%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
  }

  label > input[type=text]:focus, label > input[type=number]:focus {
	background-color: #ddd;
	outline: none;
  }

  select {
	margin-bottom: 22px;
  }

  label > button {
	background-color: #04AA6D;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom:10px;
	opacity: 0.8;
  }

#closeButton {
	background-color: red;
  }

  h1 {
	font-size: 3rem;
	font-weight: 700;
	color: rgb(16, 0, 105);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  div.cardHolder > div > button {
	height: 32px;
	background-color: #1160c7;
	width: 195px;
	border: 3px solid rgb(16, 0, 105);
	border-radius: 8px;
	font-size: 1.1rem;
  }

  div.cardHolder > div > button:hover {
	background-color: #8952a8;
  }
